<div class="container">
<h1>Wordcounter</h1>
  <p>Hoogste frequentie: {{this.highestFrequency}}</p>
  <p>Frequentie voor woord: {{this.freqForWordWord}} ({{ this.freqForWordFreq}})</p>
  <p>Top frequent words:</p>
  <li *ngFor="let mfw of mostFreqWords">
    {{mfw.word}} ({{mfw.frequency}})
  </li>
</div>
